
body{
    background: #bdc3c7;  /* fallback for old browsers */

    background: #000000;  /* fallback for old browsers */

    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */

    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
   
   
    
    
}
h1{
    color: #c9c9c9;
    text-shadow: 2px 2px #000;

    
    text-align: center;

}
li{
    color: #b6b6b6;
    font-size: 1rem;
    text-shadow: 2px 2px #000;
    text-align: justify;
    list-style-position: inside;
}
#output{
    display: flex;
}
.imageBall{
    align-items: center;
    align-content: center;
    width: 60%;
    border-radius: 50%;
}
.imageBall:hover{
    transition-duration: 0.4s;
    background: #b6b6b6;
    box-shadow: 0 0 2px 1px rgba(37, 63, 71, 0.5);
    /* border: 1px solid #ddd; */
    border-radius: 55%;
    padding: 5px;
    cursor: pointer;
  
}
/* button{
    color: #b6b6b6; 
    text-shadow: 2px 2px #000;
    font-size: 1rem;
    width: 25%;
    height: 100%;
    align-items: center;
    margin-top: 38px;
    margin-left: 10%;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526); 
}
button:hover{
    transition-duration: 0.4s;
    background: #b6b6b6;
    color: #000; 
    text-shadow: 1px 1px #000;
} */

button {
    display: inline-block;
    border-radius: 4px;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526); 
    border: none;
    color: #0F2027;
    text-shadow: 2px 2px #203A43;
    text-align: center;
    font-size: 1.2rem;
    width: 35%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 20px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }



.negativas{
    /* display: block; */
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 2rem;
    height: 15vh;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-left: 20px;
}

.positivas{
    /* display: block; */
    /* background: rgb(14, 194, 74); */
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 2rem;
    height: 15vh;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-left: 20px;
}

.neutras{
    /* display: block; */
    /* background: rgb(235, 202, 57); */
    background: #ffb347;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 2rem;
    height: 15vh;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-left: 20px;
}
/* 
media query 
button margin-top:90px 
font-size:1.5rem*/

@media screen and (min-width: 768px){
    #output{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    li{
        text-align: center;
        font-size: 1.5rem;
    }
    button{
        font-size: 1.5rem;
        width: 18%;
        margin-top:13px;
        height: 100px;
        margin-left:3% ;
    }
    .imageBall{
        width: 30%;
    }
    /* #output{
        display: block;
    } */
    .positivas .negativas .neutras{
        /* display: inline-block; */
        width: 35%;
        height: 19vh;
        padding-top: 6%;
    }
}